In [3]:
import pandas as pd

df = pd.read_csv ('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'Latin-1')
# df.dropna()

In [4]:
# 11
items = df.groupby('Item')
items.sum()
print('The total sum of Animal Fat produced in 2014 is 209460.54 and in 2017 is 269617.53')

The total sum of Animal Fat produced in 2014 is 209460.54 and in 2017 is 269617.53

In [5]:
# 12
df.describe()
print('The mean and standard deviation across the whole dataset for the year 2015 is 135.236 and 1603.404')

The mean and standard deviation across the whole dataset for the year 2015 is 135.236 and 1603.404

In [6]:
# 13
year =  df['Y2016']
missing_data =year.isna().sum()
percentage = missing_data * 100/len(year)

print(f'The total number and percentage of missing data in 2016 to 2 decimal places is {missing_data} and {percentage:.2f}')

The total number and percentage of missing data in 2016 to 2 decimal places is 1535 and 2.52

In [ ]:
#14
ec = df.groupby('Element Code')
ec.max()

In [8]:
# 15
element = df.groupby('Element')
element.sum().iloc[7:8, 4:]
print('2017 has the highest import quality')

2017 has the highest import quality

In [ ]:
# 16
element.sum()

In [ ]:
# 18

In [ ]:
# 19

In [13]:
# 20
number_of_countries = df['Area'].nunique()
print(f'The total number of unique countries in the dataset is{number_of_countries}')

The total number of unique countries in the dataset is49