In [ ]:
import pandas as pd

df = pd.read_csv ('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'Latin-1')
# df.dropna()

In [ ]:
# 11
items = df.groupby('Item')
items.sum()
print('The total sum of Animal Fat produced in 2014 is 209460.54 and in 2017 is 269617.53')

The total sum of Animal Fat produced in 2014 is 209460.54 and in 2017 is 269617.53

In [ ]:
# 12
df.describe()
print('The mean and standard deviation across the whole dataset for the year 2015 is 135.236 and 1603.404')

The mean and standard deviation across the whole dataset for the year 2015 is 135.236 and 1603.404

In [ ]:
# 13
year =  df['Y2016']
missing_data =year.isna().sum()
percentage = missing_data * 100/len(year)

print(f'The total number and percentage of missing data in 2016 to 2 decimal places is {missing_data} and {percentage:.2f}')

The total number and percentage of missing data in 2016 to 2 decimal places is 1535 and 2.52

In [ ]:
#14
ec = df.groupby('Element Code')
ec.max()

              Area Code                   Area  ...      Y2017      Y2018
Element Code                                    ...
511                 276               Zimbabwe  ...  190873.00  195875.00
645                 276               Zimbabwe  ...     433.38     443.56
664                 276               Zimbabwe  ...    3457.00    3450.00
674                 276               Zimbabwe  ...     100.10     101.08
684                 276               Zimbabwe  ...      97.13      94.94
5072                276               Zimbabwe  ...    5089.00    2226.00
5123                276               Zimbabwe  ...   10342.00   10355.00
5131                276               Zimbabwe  ...   22174.00   22609.00
5142                276               Zimbabwe  ...   51220.00   54077.00
5154                276               Zimbabwe  ...   17219.00   17221.00
5170                276               Zimbabwe  ...   17476.00   17323.00
5171                193  Sao Tome and Principe  ...       6.00       6.00
5301                276               Zimbabwe  ...  112625.00  117038.00
5511                276               Zimbabwe  ...  117702.00  118172.00
5521                276               Zimbabwe  ...   29580.00   31567.00
5527                276               Zimbabwe  ...    1453.00    1474.00
5611                276               Zimbabwe  ...   18627.00   18036.00
5911                276               Zimbabwe  ...   34641.00   34641.00

[18 rows x 11 columns]

In [ ]:
# 15
element = df.groupby('Element')
element.sum().iloc[7:8, 4:]
print('2017 has the highest import quality')

                     Y2015      Y2016      Y2017      Y2018
Element
Import Quantity  267018.46  286582.78  294559.09  287997.09

In [ ]:
# 16
element.sum()

                                        Area Code  ...       Y2018
Element                                            ...
Domestic supply quantity                   708993  ...  2161192.10
Export Quantity                            599910  ...   181594.80
Fat supply quantity (g/capita/day)         675050  ...    10258.69
Feed                                       176272  ...   233489.68
Food                                       663295  ...  1303841.28
Food supply (kcal/capita/day)              674057  ...   455261.00
Food supply quantity (kg/capita/yr)        658446  ...    49056.85
Import Quantity                            688174  ...   287997.09
Losses                                     274353  ...   163902.00
Other uses (non-food)                      235554  ...    91300.97
Processing                                 271940  ...   308429.00
Production                                 526751  ...  2075072.89
Protein supply quantity (g/capita/day)     675050  ...    11833.56
Residuals                                  623271  ...    34864.00
Seed                                       103537  ...    25263.14
Stock Variation                            571566  ...    20577.91
Total Population - Both sexes                6020  ...  1140605.00
Tourist consumption                         50308  ...       90.00

[18 rows x 8 columns]

In [ ]:
# 20
df.groupby('Area').sum()
print('The total number of unique countries in the dataset is 49')

                             Area Code  Item Code  ...       Y2017       Y2018
Area                                               ...
Algeria                           5252    3532053  ...   325644.27   341729.98
Angola                            9968    3819908  ...   229159.57   235206.68
Benin                            68105    3453692  ...   124771.22   124960.70
Botswana                         27560    3704902  ...    22101.30    23129.08
Burkina Faso                    328297    3778795  ...   101855.07   112970.72
Cabo Verde                       44100    3396746  ...    14650.74    14622.60
Cameroon                         46720    3916078  ...   232030.43   233022.93
Central African Republic         49728    3607546  ...    29937.00    30101.57
Chad                             52377    3606529  ...    71594.68    72282.24
Comoros                           2025     124514  ...       59.84       59.84
Congo                            64998    3792029  ...    41181.68    42005.53
Côte d'Ivoire                   156969    3934818  ...   224599.01   227018.00
Djibouti                         78840    2956078  ...    22729.91    23718.96
Egypt                            87792    3996567  ...   866379.92   852652.92
Eswatini                        268356    3456174  ...    54343.33    55045.07
Ethiopia                        344386    3878162  ...   448683.76   450788.86
Ethiopia PDR                      2418     107853  ...        0.00        0.00
Gabon                            92130    3354410  ...    27979.64    28339.38
Gambia                           87600    3145402  ...    23154.18    23513.80
Ghana                           109674    3639339  ...   337599.06   358915.64
Guinea                          126900    3782145  ...    98138.87   103262.08
Guinea-Bissau                   197400    3035574  ...    19102.77    18997.92
Kenya                           177840    4185637  ...   264660.66   270916.80
Lesotho                         140300    3099348  ...    21267.96    19109.23
Liberia                         148338    3249929  ...    29342.20    29629.83
Madagascar                      185631    3864258  ...   131197.73   134576.44
Malawi                          188110    3879389  ...   181098.71   187366.09
Mali                            171969    3469876  ...   149928.33   159026.42
Mauritania                      162520    3222107  ...   156665.46   157479.95
Mauritius                       188786    3711587  ...    51114.83    47150.91
Morocco                         199199    3743082  ...   388495.36   399271.27
Mozambique                      205488    3830309  ...   161407.98   164934.05
Namibia                         188601    3452725  ...    29874.89    29350.04
Niger                           221674    3763737  ...   126707.58   133982.86
Nigeria                         234366    3954357  ...  1483268.23  1499774.24
Rwanda                          262384    3824085  ...    73663.69    74839.08
Sao Tome and Principe           227161    3168050  ...    12662.63    12806.49
Senegal                         285090    3922180  ...    95681.15    95493.82
Seychelles                       13328     188266  ...      442.34      442.34
Sierra Leone                    244674    3343306  ...    55311.33    55981.73
South Africa                    282598    3759379  ...   517590.54   509787.97
Sudan                           363216    3534661  ...   239931.92   268054.39
Sudan (former)                   10918     146631  ...        0.00        0.00
Togo                            280798    3478828  ...    49841.88    54872.00
Tunisia                         297036    3602818  ...   124167.20   127343.17
Uganda                          329508    3909109  ...   213950.38   222147.25
United Republic of Tanzania     305085    3809549  ...   322616.85   349763.41
Zambia                          364201    3892801  ...   103223.77   101604.27
Zimbabwe                        252133    3739292  ...    75919.34    76581.41

[49 rows x 8 columns]